.dashboardContent {

    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: space-around;

    h2 {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    section {
        flex-direction: column;
    }

    ul {
        list-style: none;
        li {
            cursor: pointer;
        }
    }
}


@media only screen and (min-width: 200px) and (max-width: 900px) {

    .dashboardContent {
        flex-wrap: wrap;

        section {
            width: fit-content;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
        
        article {
            width: fit-content;
        }
    
        h2 {
            text-align: center;
        }

    }

   
}