.genreContent {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    li {
        padding: .2rem;
        display: flex;
        align-items: baseline;
    }

    button {
        border: none;
        border-radius: 4px;
        padding: .2rem;
        margin: 1rem;
        cursor: pointer;
    }

    p {
        cursor: pointer;
    }
}

.genreMovies {

    display: flex;
    flex-wrap: wrap;
    margin: 1rem;

    h2 {
        width: 100%;
    }

    article {
        max-width: 250px;
        min-width: 250px;
    }

}
