.genreContent {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    li {
        padding: .2rem;
        display: flex;
        align-items: baseline;
    }

    button {
        background-color: chocolate;
        color: #e1e1e1;
        border: none;
        border-radius: 4px;
        padding: .2rem;
        margin: 1rem;
        cursor: pointer;
    }

    p {
        cursor: pointer;
    }
}