.homepageContent {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;

    h2 {
        width: 100%;
    }

    h3 {
        width: 50%;
    }

    section {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    a {
        color: black;
    }

    .watchWith {
        flex-direction: column;

        h3 {
            width: 100%;
        }
    }

    @media only screen and (min-width: 200px) and (max-width: 1200px){

        section {
            width: fit-content;
            justify-content: center;
        }

        h2 {
            text-align: center;
        }

        .homepageContent {
            justify-content: center;
        }

    }
    
}